* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.list-zone {
  width: 960px;
  padding: 50px 0;
  margin: 0 auto;
}

.list-item {
  list-style: none;
  padding: 20px 0 20px 20px;
}

.list-item:nth-child(odd) {
  background-color: #d3d3d3;
}

.list-item:nth-child(even) {
  background-color: #f5f5f5;
}

.boxes {
  width: 960px;
  margin: 0 auto 50px auto;
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 30%;
  height: 200px;
  margin: 0 5% 40px 0;
  background-color: yellow;
}

.box:nth-child(3n) {
  margin-right: 0;
}

.box:nth-child(4n + 1) {
  background-color: orange;
}

.box:nth-child(n + 7) {
  margin-bottom: 0;
}
